@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

body{
  font-family: 'Outfit', sans-serif;
  background-color: #fcfbfc;
  overflow-x: hidden;
}

.btn-primary{
  background-color: purple;
  color: white;
  box-shadow: inset;
  border-radius: 10px;
}

.card {
  background-color: #ffffff;
  border-radius: 1rem;        /* rounded corners */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);  /* elevated feel */
  border: 1px solid #f0f0f0; /* subtle border */
}

.card-btn{
  background-color: #f0f0f0;  /* green background */
  color: black;                /* white text */
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: purple 0.2s ease;
}
.card-btn:hover {
  color: purple;
}
.add-btn{
  border: 1px solid #187d3d;      /* green border */
  color: #187d3d;                  /* green text */
  background-color: #c7ffdc;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 0.875rem;
  font-weight: 1000;
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}